Repository karamelisthecat/karamel, pull requests merged in 2018-08, with the labels that each got.

#2 Initial commit for resolv.conf file
  resolvconfFile/flag/flag.go
  resolvconfFile/main
  resolvconfFile/main.go
  resolvconfFile/resolvconf/file.go
  resolvconfFile/resolvconf/nameserver.go
Labels: resolv.conf file

#1 Initial commit for Hosts file
  hostsFile/flag/flag.go
  hostsFile/hostsfile/filestuff.go
  hostsFile/hostsfile/hostsfunc.go
  hostsFile/init.go
Labels: hosts file

#4 update for resolvconf
  resolvconf
Labels: resolv.conf file

#5 update for resolvconf
  resolvconfFile/flag/flag.go
  resolvconfFile/main
  resolvconfFile/resolvconf/nameserver.go
Labels: resolv.conf file

#7 change main file
  init/initResolv.go
  resolvconfFile/main.go
Labels: resolv.conf file

#9 Update initResolv
  init/initResolv.go
Labels: resolv.conf file

#10 add main file
  initfile/initHosts.go
  initfile/initResolv.go
  main.go
  resolvconfFile/flag/flag.go
Labels: hosts file, resolv.conf file
